@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
.menu {
  height: 92px;
  background: #605f5f;
  width: 100%;
  display: flex;
  align-items: center;
}

.menu__container-logo {
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  position: relative;
  width: 20px;
  flex: 1 0 35px;
  justify-content: start;
}

.menu__container-logo a{
  padding-top: -1rem;
  width: 4rem;
  height: 5.5rem;
  position: absolute;
}

.image-logo {
  padding-top: -1rem;
  width: 4rem;
  height: 5.5rem;
  position: absolute;
}

.menu__container-full-logo {
  display: none;
  padding: 1rem 1rem;
  align-items: center;
  position: relative;
  flex: 1 0 35px;
  justify-content: start;
}

.menu__container-full-logo a {
  width: 10rem;
  height: 5.5rem;
  position: relative;
  justify-content: center;
  align-items: center;
}

.image-full-logo {
  width: 10rem;
  position: absolute;
  top: 27px;
}

.menu__container-items {
  display: flex;
  padding: 0;
  justify-items: start;
  flex: 1;
}

.menu__container-items a {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
}

.menu__container-items a:hover {
  border-radius: 10px;
  background: rgba(62,62,62);
}

.navbar__articles {
  display: none;
}

.navbar__guides {
  display: none;
}

.navbar__books {
  display: none;
}

.navbar__events {
  display: none;
}

.navbar__events {
  display: none;
}

.navbar__memberships {
  display: none;
}

.navbar__jobs {
  display: none;
  justify-content: center;
}

.navbar__newsletter {
  display: none;
}

.menu__container-btn {
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  position: relative;
  flex: 1 1;
  justify-content: center;
}

.menu__container-btn button {
  border: none;
  color: #fff;
  width: 7rem;
  height: 2.9rem;
  text-align: left;
  line-height: 20px;
  border-radius: 10px;
  position: relative;
  font-size: 18px;
  font-weight: 900;
  background: rgb(62,62,62);
}

.menu__container-btn button:hover {
  background: #333;
}

.menu-btn {
  padding-left: 10px;
}

.more-btn {
  padding-left: 10px;
  display: none;
}

.image__button {
  position: absolute;
  width: 35px;
  top: 5px;
  right: 10px;
}

.menu__container-search {
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  position: relative;
  flex-grow: 1;
}

.search-field {
  height: 2.9rem;
  width: 95%;
  border: none;
  border-radius: 10px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 700;
  text-indent: 40px;
}

.search-field:focus {
  border: 4px dotted #333;
}

.fa-search {
  position: absolute;
  left: 30px;
  color: #605f5f;
}

@media screen and (min-width:678px) {
  .navbar__articles {
    display: inline-flex;
  }
}

@media screen and (min-width:840px) {
  .navbar__guides {
    display: inline-flex;
  }

  .more-btn {
    padding-left: 10px;
    display: inline;
  }

  .menu-btn {
    display: none;
  }
}

@media screen and (min-width:900px) {
  .navbar__books {
    display: inline-flex;
  }
}

@media screen and (min-width:1040px) {
  .navbar__events {
    display: inline-flex;
  }
}

@media screen and (min-width:1160px) {
  .navbar__memberships {
    display: inline-flex;
  }
}

@media screen and (min-width:1200px) {
  .menu__container-logo {
    display: none;
  }

  .menu__container-full-logo {
    display: flex;
  }
}

@media screen and (min-width:1300px) {
  .navbar__jobs {
    display: flex;
  }
}

@media screen and (min-width:1430px) {
  .navbar__newsletter {
    display: inline-flex;
  }
}

/* 4 Articles */

